#page-app{
    padding-top: 100px;
    margin-bottom: 100px;
    h2{
        text-align: center;
    }
}
.app-items{
    display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
}

