
#page-popular-track{
padding-top: 100px;
}
.img-track{
    height: 55px;
    width: 55px;
    margin-right: 15px;
}

.track{
    padding-top: 48px;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(400px, 1fr));
    grid-column-gap: 25px;
    grid-row-gap: 50px;
}
.popular-track{
    display: flex;
}
.track-info{
    display: flex;
    justify-content: space-between;
    align-items: center
}
//аналогично .tracks
#page-discography{
    padding-top: 100px;
    margin-bottom: 100px;
    }
.discography{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 25px;
    grid-row-gap: 50px;
    h3{
        font-size: 18px;
        line-height: 27px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
.img-discography{
    height: 250px;
    width: 250px;
}
//3 section similar
#page-similar{
    padding-top: 100px;
    h3{
        font-size: 18px;
        line-height: 27px;
        font-weight: 700;
        text-transform: uppercase;
    }
    }
    
.similar{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 25px;
    grid-row-gap: 50px;
}
.img-similar{
    height: 250px;
    width: 250px;
}