@media (mix-width: 1240px) {
    footer {
        max-width: 1200px;    
    }
    
}
@media (max-width: 900px) {
    .footer-top {
        padding: 3rem 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .footer-bottom-ul{
        flex-direction: column;
        padding: 2rem 20px;
        margin: 0;

        li:not(:last-child){
            margin-bottom: 16px;
        }
    }

}

footer {

    li {
        list-style-type: none;
        a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        text-decoration:none;
        color:  #cacaca;
        }
    }
    h2{
        font-size: 18px;
        line-height: 27px;
        font-weight: bold;
        text-transform: uppercase;
        
    }
    img{
        margin-right: 24px;
    }
   

}
.footer-top{
    margin: 0;
    padding: 3rem 1.3125rem;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(270px, 1fr));
    justify-content: space-between;
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    ul{
        padding: 0;
    }
}
.footer-bottom-ul{
    margin: 0;
    padding: 2rem 1.3125rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;

   li:not(:last-child){
    margin-right: 16px;
   }
   
}
.bg-gradient {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  }
// .footer-bottom-ul{
//     display: flex;
// }
