.container {
    display: flex;
    flex-direction: row;

}

footer {
    background: rgb(149, 57, 12);
    background: linear-gradient(270deg, rgba(149, 57, 12, 1) 8.48%, rgba(83, 40, 161, 1) 72.24%);
    border: 0ch;

    nav {
        display: flex;
        flex-direction: row;
    }

    li {
        list-style-type: none;
    }
   
}