@media screen  and (min-weight: 1240){
    .header{
        max-width: 1200px;
    }
}
@media (max-width: 900px) {
.top-nav{
  flex-direction: column;
  margin-top: 17px!important;
}
.header-left {
  display: flex;
  flex-direction: column;
}
.top-container{
  display: flex;
  flex-direction: column;
}
.search {
  align-items: center;
  width: 100%;
}
.header-search {
  margin-top:17px;
  align-items: center;
  margin-right: 20!important;
}
.form{
  width: 100%;
  input{
    grid-column: 1/-1;
    width: 100%;
  }
}
}
header {
    padding: 0 20px;
    color: white;
    
  }
  
  .header-main {
    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;
  }
  
  .header-artist {
    background-image: url("../images/Morten Harket.png");
    background-position: center;
    background-size: cover;
  }
  
  .top {
    position: absolute;
    top: 25px;
    text-transform: uppercase;
    font-size: 11px;
    box-sizing: border-box;
  }
  .top-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .header-left{
    display: flex;
  }
  .logo {
    display: flex;
    & > img {
      width: 24px;
      height: 24px;
      float: left;
      margin-right: 16px;
      box-sizing: border-box;
    }
  
    & > p {
      margin: 0 90px 0 0;
      float: left;
      box-sizing: border-box;
    }
  }
  
  .top-nav {
    width: 350px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    float: left;
    list-style: none;
  
    & > li {
      display: inline;
      margin-right: 24px;
      box-sizing: border-box;
    }
  }
  
  .header-search {
    margin-right: 70px;
  }
  
  .search {
    padding: 5px 10px;
    min-width: 248px;
    background-color: #3C3B3D;
    border-radius: 50px;
    border: none;
    box-sizing: border-box;
    &::placeholder {
      font-size: 13.3px;
      text-transform: uppercase;
    }
  }
  


  .banner-main {
    margin: 0 20px 0;
    padding: 200px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    & h1 {
      margin-top: 0;
      margin-bottom: 0;
    }
  
    & h2 {
      margin: 0 auto;
    }
  
    & p {
      margin: 31px auto 17px;
    }
  }
  
  .banner-artist {
    padding: 200px 20px;
  }
  
  .form {
      max-width: 570px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      grid-column-gap: 24px;
      grid-row-gap: 24px;

    & div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    & input {
      min-height: 50px;
      padding-left: 20px;
      border:#3C3B3D solid 2px;
      border-radius: 3px;
      background-color: transparent;
      box-sizing: border-box;
  
      &::placeholder {
        color: white;
      }
    }
  
    & .btn {
      width: 100%;
      background-color: green;
      grid-column: 1/-1;
    }
  }

 
