@import "footer";
@import "header";
@import "pricing";
@import "news";
@import "app";
* {
    box-sizing: border-box;
  }
@font-face {
font-family: Roboto;
font-weight: 400;
src: url("/src/fonts/Roboto-Regular.ttf");
}
body {
    font-family: "Roboto";
    font-size: 18px;
    line-height: 1.5;
color: #cacaca;
background-color: #08020d;
}
h1{
    font-size: 60px;
    line-height: 90px;
    font-weight: 700;
    text-transform: uppercase;

}
h2{
    font-size: 38px;
    line-height: 57px;
    font-weight: 700;
    text-transform: uppercase;
}
h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}
.text-center{
    text-align: center;
}
.btn {
    padding: 20px 30px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}