#page-news{
    background-color: #08020D;
    padding-top: 100px;
    
    h3{
        font-size: 30px!important;
        line-height: 45px!important;
        font-weight: 400;
        margin: 0;
    }
    p{
        font-size: 16px;
    }
   
}
@media (max-width: 900px) {
    .news-item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
    }
  }
.news-item{
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
   // flex-direction: column-reverse;
}
.news-author{
    margin-bottom: 48px;
}
.news-text-right{
    margin-left: 50px;
}
.news-text-left{
 margin-right: 50px;
}
.news-top{
    margin-top: 64px;
}

