#page-pricing {
    background-color: #08020D;
    padding-top: 100px;
}
    .catalog{
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        text-align: center;
    }

    .catalog-item{
        padding: 0 1.5rem;
        margin: 25px;
        background-position: center;
        background-size: cover;
        border-radius: 1rem;
        flex: 1 1 200px;

        &.free{
            background-image: url(../images/subscribe_1.png);
        }
        &.standart{
            background-image: url(../images/subscribe_2.png);
        }
        &.vip{
            background-image: url(../images/subscribe_3.png);
        }
        h3{
            margin-bottom: 200px;
        }
    }
    .catalog-footer{
        font-weight: 400;
        font-size: 12.8px;
        line-height: 150%;
        margin-top: 64px;
    }
    .pricing-value{
       margin-bottom: 40px;
    }
